* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

h1, h2, p {
    margin-bottom: 20px;
}
body {
    height: 100vh;
    background-color: beige;
}

div {
    padding: 20px 0;
    margin: 0;
}


.width-100 {
    width: 100%;
    background-color: aqua;
    padding: 20px 0;
    height: 400px; 
    display: flex;
}
nav {
    width: 20%;
    background-color: gray;
    height: 100%;
}
article {
    width: 80%;
    background-color: ivory;
    height: 100%;
}
.fixed-width {
    width: clamp(200px, 60vw, 200px);
    background-color: lawngreen;
    margin: 0 auto;
    text-align: center;
}
.background {
 background-image: url(../imagens/pattern2.png);
 background-color: lightcoral;
 height: 50vh;
 width: 100%;
 background-repeat: repeat-x;
 
}
div img {
    width: 100%;
}