* {
  box-sizing: border-box;
}
/* CONTEUDO */
body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
    width: 100%;
    height: 100%;
}
html,
body {
  margin: 0px;
}
header {
  padding: 15px;
  background-color: #1f2923;
  text-align: center;
}
nav {
  padding: 20px;
  width: 30%;
  background-color: #374151;
}
nav a {
  padding: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}
nav ul {
  list-style-type: none;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  text-decoration: underline;
}
article {
  padding: 50px;
  background-color: #f9fafb;
  width: 85%;
  height: auto;
}
footer {
  padding: 10px;
  text-align: center;
  background-color: #1f2933;
}
/* CLASS */
.titulo-site {
  font-size: 50px;
  font-weight: bold;
}
.foto-vitor img {
  width: 250px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.fotor-vitor h1 {
  font-weight: bold;
  color: blue;
}
/* formulario */
form div {
    padding: 1px;
    margin-top: 0px;
    margin-right: 75%;
    border: 1px solid;
    text-align: center;
}
.formulario p {
    text-align: center;
}
input, textarea {
    width: 100%;
}
.opcoes {
padding: 0px;
margin-top: 0;
margin-right: 75%;
align-items: center;
padding: 10px;
text-align: left
}
form p {
    margin-right: 75%;
    padding: 0px;
    width: 269px;
    margin: 0px;
    border: 1px solid;
    background-color: #374151;
    color: #f9fafb;
}
#enviar  input{
background-color: #1f2933;
color: #f9fafb;
min-height: 100%;
min-width: 100%;
}
#enviar input:hover {
background-color: #546f97;
}
/*  */
.artigo-p h1 {
    width: 300px;
 text-align: center;
 padding: 10px;
 margin: 0px auto;
 border: 1px solid;
 background-color: #1f2933;
 color: #f9fafb;
}
.artigo-p p:hover {
    background-color: #2a323a;
}
.artigo-p h1:hover {
    background-color: #37485a;
    color: #f9fafb;
}
.artigo-p p {
    padding: 10px;
    margin: 10px;
    border: 1px solid #333;
    background-color: #1f2933;
    color: #f9fafb;
}
.class-img-h1 img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  border-radius: 100%;
  filter: drop-shadow(8px 8px 10px #333);
}
.class-img-h1 {
  text-align: center;
}
table {
  border: 1px solid;
  width: 100%;
}
tr:nth-child(odd) {
  background-color: blueviolet;
}
table td {
  border: 1px solid;
  text-align: center;
}
table th {
  border: 1px solid;
  background-color: black;
  color: beige;
}
td:hover {
  background-color: #546f97;
  color: white;
}
tr:last-child {
  background-color: aqua;
}
tr:nth-child(2) {
  background-color: aqua;
}

.layout {
  display: flex;
  min-height: 100vh;
}
.layout-2 {
  display: flex;
}
h1 {
  font-weight: 1000;
}
/* MOBILE FIRST */
@media (max-width:480px){
  .layout {
        display: block;
    }
    nav{
        width: 100%;
    }
    article {
      width: 100%;
      max-width: 100vw;
    }
    table {
      width: 100%;
      min-width: 100%;
    }
    .table-wrapper {
      overflow-x: auto;
      width: 100%;
    }
}
@media (min-width: 481px) and (max-width:1024px){
    
.layout {
        display: block;
    }
    nav{
        width: 100%;
    }
    article {
      width: 100%;
      max-width: 100vw;
    }
    table {
      width: 100%;
      min-width: 100%;
    }
    .table-wrapper {
      overflow-x: auto;
      width: 100%;
    }
    
}