*{
    box-sizing: border-box;
}
html{
   font-size: 62.5%; 
}
body {
 background-color: #f5f5f5;
 font-family: "Roboto", sans-serif;
}
.main-container {
    width: 100%;
    margin: 0 auto;
}
.container {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    
}
.container img {
     justify-content: center;
    align-items: center;
    margin: 0 auto;
}
header {
background-color: #325472;
width: 100%;
padding: 20px;
border-bottom: 1px solid #254159;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 10px;
}
h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}
h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}
p {
    margin-bottom: 10px;
    line-height: 1.4;
}
img { /* responsivo */
    max-width: 100%;
    height: auto;
}
#tenho-interesse {
    background-color: #7c93a8;
    width: 100%;
}
ol {
    margin-left:20px;
}
ol li {
    color: #454545;
    font-size: 1.4rem;
}
section {
 font-size: 1.5rem; /* equivalente a 15px */
 padding: 20px;
 display: flex;
 background-color: #ffffff;
}
section nav {
 width: 30%;
 padding-left: 30px;
}
nav li {
    margin: 5px 20px 5px 0;
    padding: 10px;
    background-color: #efefef;
}
nav li:hover {
    background-color: #dfdfdf;
}
nav a {
    text-decoration: none;
    color: #254159;
}
nav a:hover {
    color: #385874;
}
article {
width: 70%;
display: block;
float: left;
}
footer {
 background-color: #254159;
 display: block;
 float: left;
 color: #ffffff;
 width: 100%;
 padding: 20px;
}
footer p {
    color: #ffffff;
    font-size: 1.4rem;
}
footer small {
    font-size: 80%;
    display: block;
}
.cog-branding,
.cog-branding__powered,
.cog-branding--minimal {
    display: none !important;
}
.cog-abuse,
.codg-abuse_powered,
.cog-branding--minimal {
    display: none !important;
}
.cog-form__content,
.cog-form__content_powered,
.cog-form__content--minimal {
    background-color: #7c93a8 !important;
}
#tenho-interesse {
  display: flex;
  justify-content: center;

}

#tenho-interesse .cog-heading , .cog-label {
    color: #254159 !important;

}
@Media (min-width: 481px) and (max-width: 1024px){

section,
    img,
    section nav,
    section article {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 10px;
        display: block;
    }
    section nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 0;
        padding: 0;
    }
    section nav li {
        margin: 1rem;
        padding: 30px;
    }

}
@Media (max-width: 480px) {
    section,
    img,
    section nav,
    section article {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 10px;
        display: block;
    }
    section nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 1;
        padding: 0;
    }
    section nav li {
        margin: 1px;
        padding: px;
    }
}
 /*  * {
  outline: 1px solid red;
}   */
