html{
   font-size: 62.5%; 
}
body {
 background-color: #f5f5f5;
 font-family: "Roboto", sans-serif;
}
.main-container {
    max-width: 1998px;
    margin: 0 auto;
    
    padding: 20px;
}
header {
background-color: #fff;
display: block;
float: left;
width: 100%;
padding: 20px;
}
h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 10px;
}
h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
}
h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}
p {
    margin-bottom: 10px;
    line-height: 1.4;
}
ol {
    margin-left:20px;
}
ol li {
    color: #454545;
    font-size: 1.4rem;
}

section {
 font-size: 1.5rem; /* equivalente a 15px */
 width: 100%;
 padding: 20px;
 background-color: #ffffff;
}
section nav {
display: block;
float: left;
 width: 30%;
}
nav li {
    margin: 5px 20px 5px 0;
    padding: 10px;
    background-color: #efefef;
}
section article {
width: 70%;
display: block;
float: left;
}
footer {
 background-color: #254159;
 display: block;
 float: left;
 color: #ffffff;
 width: 100%;
 padding: 20px;
}
footer p {
    color: #ffffff;
    font-size: 1.4rem;
}